body {
    padding-top: 50px;
}
.main-wrapper {
    text-align: center;
    margin-top: 50px;
}

.main-wrapper h1 {
    margin-bottom: 30px;
    text-align: right;
}

.media {
    margin-top: 40px;
}
.media-body {
    text-align: justify;
}
.media-body h4 {
    text-align: left;
}
.media-body .read-more {
    text-align: right;
}

.media-object {
    max-width: 200px;
}

.modal-header h3 {
    overflow: hidden;
    width: 15em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-body .row {
    margin-top: 10px;
}

.panel-bottom {
    margin: 50px 0;
}
