<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <title>TEST</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="system.config.js"></script>
    <base href="/">
</head>
<body>
    <script>
System.import('boot');
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TEST</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" ng-controller="NavbarController">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/main')}">
                        <a href="#main">Главная</a>
                    </li>
                    <li ng-class="{ active: isActive('/news')}">
                        <a href="#/news">Новости</a>
                    </li>
                    <li ng-class="{ active: isActive('/events')}">
                        <a href="#/events">События</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск" ng-model="searchText" ng-change="searchChange()">
                    </div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="main-wrapper">
            <ng-view></ng-view>
            <!--<h1>Bootstrap starter template</h1>-->
            <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
        </div>

    </div><!-- /.container -->
</body>
</html>
