<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">{{ $ctrl.article.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <h4>{{ $ctrl.article.title }}</h4>
    <div class="row">
        <div class="col-md-12">
            <img ng-src="{{$ctrl.article.image}}" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p ng-bind-html="$ctrl.article.content"> </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <span class="label label-default ng-binding">{{ $ctrl.article.date }}</span>
</div>
