<div class="media animated fadeIn" ng-repeat="article in $ctrl.news">
    <div class="media-left">
        <a href="#">
            <img class="media-object" ng-src="{{article.image}}" alt="{{article.title}}">
        </a>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-md-12">
                <h4 class="media-heading">{{article.title}}</h4>
                <p>
                    {{article.briefly}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="label label-default">{{article.date}}</span>
            </div>
            <div class="col-md-6 read-more">
                <button class="btn btn-primary" ng-click="$ctrl.openModal(article)">
                    Подробнее...
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row panel-bottom">
    <button
        class="btn btn-primary"
        ng-click="$ctrl.loadMore()"
        ng-class="{ hidden: $ctrl.loadMoreState()}">
        ЗАГРУЗИТЬ ЕЩЁ
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
</div>
